@charset "utf-8";
body{font-family:SimHei,'Helvetica Neue',Arial,'Droid Sans',sans-serif;font-size:14px;}
/*index部分*/
.weui-tabbar{position: fixed !important;}

.weui-panel{margin: 0 !important;padding-bottom: 60px;}
.weui-media-box__title span{float: right;font-size: 14px;color:#666666;}
/*mine部分*/
.user{width: 100%;height: 150px;overflow: hidden;background: #40E0D0;position: relative;}
.userImg {width: 100px;height: 100px;position: absolute;top: 25px;left:15px;}
.userImg img{width: 100%;height: 100%;border-radius: 50px;}

.ueseText{margin-left: 120px;margin-top: 50px;color: #fff;}
.ueseText h3 span{padding-left: 30px;font-size: 14px;}
